#character-images{
    width: 10em;
    height: 10em;
}

#characters-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2em;
    margin-top: 3em;
}

#character-cards{
    display: flex;
    flex-direction: column;
    border: 4px solid red;
    align-items: center;
    justify-content: center;
    width: 12em;
    height: 15em;
    background-color: white;
}

#characters-page{
    text-align: center;
    background-color: yellow;
    color: red;
    font-weight: bold;
}

header{
    background-color: white;
}


