#episode-info{
    text-align: center;
   
}

#next-door{
    width: 20em;
    
}

#pest-control{
    width: 20em;
}

#pictures{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#burger-of-day{
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    align-items: center;
}