/*Global Styles */
.App {
  text-align: center;
 
}

/* Header */
header{
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: center;
  color: red;
  text-shadow: -2px 1px 0 black, 2px -1px 0 black,  -2px -1px 0 black,  2px 1px 0 black;
}

header img{
  width: 5em;
  height: 5em;
  margin-left: 1em;
}

/* Banner picture */
#banner{
  width: 100%;
  height: 75%;
}

#home-page{
  margin-right: 1em;
 
}
#burger-of-day{
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  align-items: center;
}


